body {
    font-family: 'Roboto', sans-serif;
    background: url('./img/Designer\ \(10\).png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #2c3e50;
}

.container {
    background-color: rgba(255, 255, 255, 0.85); /* Slight transparency */
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    width: 100%;
}

h1 {
    font-size: 2.2em;
    margin-bottom: 30px;
    color: #34495e;
    letter-spacing: 2px;
}

button {
    background-color: #e74c3c;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(231, 76, 60, 0.5);
}

button:hover {
    background-color: #c0392b;
    box-shadow: 0 6px 20px rgba(192, 57, 43, 0.6);
    transform: translateY(-2px);
}


#greeting {
    margin-top: 30px;
    font-size: 1.3em;
    color:  rgb(196, 72, 92);
    font-weight: 500;
}
