body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    background-color: rgb(98, 215, 205);
    animation-name: exampl;
    animation-duration: 4s;
  }
  
  @keyframes exampl {
    from {background-color: red;}
    to {background-color: yellow;}
  }

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

article {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: rgb(92, 239, 207);
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }


article h2 {
    margin-top: 0;
}

.date {
    color: #888;
}

footer {
    background: #6a3030;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    animation-name: examples;
    animation-duration: 4s;
}
@keyframes examples {
    from {background-color: rgb(236, 18, 127);}
    to {background-color: rgb(41, 58, 209);}
  }

